<div class="container">
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-md-4">
      <form>
        <div class="form-group">
          <label for="Email">Email address</label>
          <input type="email" class="form-control">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="Password">Password</label>
          <input type="password" class="form-control">
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <a class="float-right" routerLink="/auth/forget-password">Forget Password?</a>
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-2">Login</button>
        <a class="text-center d-block mt-2" routerLink="/auth/register">Don't have an account? Signup</a>

      </form>
    </div>
  </div>
</div>